/*======================FONTS======================*/
	@font-face {
		font-family: gotham;
		src: url(font/Gotham-Light.otf);
	}

	@font-face {
		font-family: gotham-bold;
		src: url(font/Gotham-Bold.otf);
	}

	@font-face {
		font-family: gotham-black;
		src: url(font/Gotham-Black.otf);
	}

	@font-face {
		font-family: poppins;
		src: url(font/Poppins-Light.otf);
	}

	@font-face {
		font-family: poppins-bold;
		src: url(font/Poppins-Bold.otf);
	}

	@font-face {
		font-family: poppins-black;
		src: url(font/Poppins-Black.otf);
	}


/*=====================UNIVERSAL CLASS ===================*/
	svg{
		transition: none !important;
	}
	*{
		font-family: gotham;
		transition: 0.4s;
		box-sizing: border-box;
	}
	body, html{
		padding: 0;
		margin: 0;
		background: #dee0e2;
	}
	a{
		text-decoration: none;
	}
	a:hover{
		text-decoration: none;
	}
	.font-light{
		font-family: gotham;
	}
	.font-bold{
		font-family: gotham-bold !important;
	}
	.font-black{
		font-family: gotham-black !important;
	}

	.vh-100{
		height: 100vh;
	}
	.bg-white{
		background: #EFF0F1;
	}
	input[type="submit"] {
	background: #52b86a !important;
	color: white !important;
	font-family: gotham-bold !important;
	font-size: 17px !important;
	padding: 10px 0px !important;
	text-align: center !important;
	height: 100% !important;
	border: none !important;
	box-sizing: border-box !important;
	}
	.uk-navbar-nav li a{
		color:#5a5a5a;
	}
	.uk-navbar-nav li a:hover{
		color:black;
	}
	.active-green{
		color:#52b86a !important;
	}
	.uk-dropdown{
		transition: none;
	}
	.uk-dropdown::before{
		content: "";
		background: white;
		width: 10px; 
		height: 10px;
		position: absolute;
		top: -5px;
		left: 50%;
		transform: rotate(45deg);

	}	

/*====================NAVBAR =====================*/
.pre-loader{
	position: fixed;
	z-index: 99999;
	top:0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: #EFF0F1;
	transition: none !important;
}
.container{
	margin:10px;
	display: flex;	padding: 15px;
}


nav{
	background: rgb(239, 240, 241);
}
.container{
		margin:10px;
		display: flex;	padding: 15px;
	}
	.logo{
		width: 40px;
		margin: auto 5px;
	}

	.line{
		height: 40px;
		margin: auto 5px;
		width: 1.3px;
		background: #52b86a;
	}
	.name{
		color: #52b86a;
		font-size: 20px;
		letter-spacing: 2px;
		font-family: gotham-bold;
		margin: auto 5px;
	}

	.name span{
		font-family: gotham;
	}

	nav li a{
		font-family: gotham-bold !important;
		letter-spacing: 1.3px;
	}
	.fixed-navbar{
		position: fixed;
	    right: 0;
	    left: 0;
	    top: 0;
	    z-index: 1030;
	}

	.icon{
		margin: 16px;
	}
	.info-box{
		border-radius: 50px;
		padding: 8px 12px;
	}
	.account-info-box{
		min-width: 150px;
	}
	.info-box:hover{
		background: white;
		cursor: pointer;
	}
	.account-icon{
		background: #d8d8d8;
		padding: 7px;
		border-radius: 50%;
		margin: 0;
	}
	.message-icon{
		margin: 3.5px 10px 3.5px 0px;

	}
	.dropdown-icon{
		margin-right: 6px;
	}
	.menu{
		position: relative;
		margin-left: 20px;

	}
	.menu-icon{
		margin: 0px 5px 0px 20px;
		cursor: pointer;


	}
	.menu-icon::before{
		content: " ";
		position: absolute;
		top: 50%;
		left: 0px;
		width: 0.5px;
		height: 38px;
		transform: translate(0px, -50%);
		background-color: rgba(0,0,0,0.3);
	}



	.offcanvas{
		z-index: 1031 !important;
	}
	.uk-offcanvas-bar{
		width: 250px !important;
		padding: 40px 30px;
	}


	/*========== PRODUCT PANEL ============*/
	.product-panel{
		margin: 100px 0px 50px 0px;
		padding: 30px;
	}
	.card{
		padding: 26px;
		box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
		background: #EFF0F1;
	}
	.overview-info{
		position: relative;
	}
	.overview-info:hover{
		background: rgba(0,0,0,0.064);
		cursor: pointer;
		border-radius: 3px;
	}
	.bar::after{
		content: " ";
		position: absolute;
		top: 50%;
		left: 110%;
		width: 0.5px;
		height: 38px;
		transform: translateX(-50%);
		transform: translateY(-50%);
		background-color: rgba(0,0,0,0.3);
	}
	@media (max-width: 960px) {
  		.bar::after{
    		content: none;
  		}
	}
	.off-canvas-menu-icon{
		width: 18px;
		height: 18px;
		margin: 25px 11px 0px 0px;
	}
	.off-canvas-sub-item{
		margin-left: 30px;
		color: white;
		padding: 0 !important;
		margin-bottom: 4px;
		color: rgba(255,255,255,0.9) !important;
		position: relative;
		display: inline-block !important;
	}

	.off-canvas-sub-item:hover{
		margin-left: 30px;
		color:#52b86a !important;
	}
	.off-canvas-sub-item::before{
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 100%;
		border-bottom: 1px solid #52b86a;
		transition: right .3s ease-out !important;
		display: inline-block !important;

	}
	.off-canvas-sub-item:hover::before{
		right: 0;

	}




	.off-canvas-sub-item-active{
		margin-left: 30px;
		color: white;
		padding: 0 !important;
		margin-bottom: 4px;
		color: #52b86a !important;
	}
	.off-canvas-sub-item-disabled{
		margin-left: 30px !important;
		padding: 0 !important;
		margin-bottom: 4px !important;
		color: rgba(255,255,255,0.33) !important;
	}
	.info-table{
		margin-top: 20px;
	}
	.uk-tab::before{
		border-bottom: #bbb solid 1px;
	}
	.uk-tab>.uk-active>a {
		border-width: 1.6px;
	}
	.uk-table th{
		vertical-align: middle;
	}
	thead tr th{
		color: white!important;
		font-family: gotham-bold;
	}
	thead{
		border-bottom: solid 2px black;
		background: #0D0D0D !important;
	}
	th:nth-child(1), td:nth-child(1){
		width: 60%;
	}
	td{
		word-break: break-all;
		vertical-align: middle !important;
		color: black;

	}
	.product-header{
		margin-top: 6px;
		margin-bottom: 5px;
	}

	.add-button{
		font-family: gotham-bold;
		padding: 5px 18px;
		border: #0D0D0D 1px solid;
		transition: 0.4s linear;
	}
	.add-button:hover{
		background: #0D0D0D;
		color: white;
	}
	.add-button:hover>svg{
		fill: white;
		
	}
	.add-button>svg{
		margin-right: 5px;
		margin-bottom: 2px;
		transition: 0.4s ease-in;
	}




	.new-product-panel{
		margin: 20px 0px 0px 0px;
	}
	.top-panel{
		margin-top: 120px !important;
	}
	.uk-tab-right::before{
		border-bottom: solid 1px black;
		border-left: solid 1px black;
	}
	.fixed-tab{
		position: fixed;
		left:82%;
		top: 144px;
	}
	.left-center{
		margin-left: 180px;

	}
	.input-group{
		padding: 0 40px;
		margin: 30px 0px;
	}
	textarea{
		height: 200px;
		resize: none;
		width: 100%;
		border: 1px solid #bebebe;
		background: transparent;
		text-align: left;
		padding: 16px 10px;
	}
	select{
		width: 60% !important;
		border: 1px solid #bebebe !important;
		background: transparent !important;
		text-align: left;
		padding: 16px 10px;
	}
	form label{
		text-align: left;
		width: 100%;
		display: block;
		font-family: gotham-bold;
		color: black;
		font-size: 0.8em;
		letter-spacing: 4px;
		margin-bottom: 10px;


	}
	form input{
		width:100%;
		border: 1px solid #bebebe;
		background: transparent;
		text-align: left;
		padding: 16px 10px;
	}
	form a{
		color: black;
		margin-bottom: 20px;

	}
	.width-60{
		width: 60%;
	}
	.currency-sign{
		margin-right: 10px;
	}
	.publish{
		padding-left: 0 !important;
	}

	form.uk-search{
		margin: auto 0px 0px 20px !important;
	}
	form.uk-search input{
		border: none !important;
		border-bottom: 1px solid black !important;
		color: black !important;

	}